# Node Environment
NODE_ENV = development
NODE_VERSION = 20.x

# Database Configuration
POSTGRES_URL=postgres://user:password@host:5432/database?sslmode=require
POSTGRES_PRISMA_URL=postgres://user:password@host:5432/database?sslmode=require&pgbouncer=true
POSTGRES_URL_NON_POOLING=postgres://user:password@host:5432/database?sslmode=require